{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Genre</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td> {{ post.id }} </td>
                <td>
                    <a href="{{ path('post.show2', {id: post.id}) }}">
                        {{ post.title }}
                    </a>
                </td>
                <td> {{ post.genre }} </td>
                <td>
                    <a href="{{ path('post.deleteHardCoded', {id: post.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}